@import url(bootstrap.css);
@import url(bootstrap-grid.css);


.video_bg{
  position: absolute;
  height: 80vh;
  top: 100px;
  padding: 100px 100px 100px;
  z-index: 1 !important;
  @media screen and (max-width: 720px){
    display: none;}
  .video_block{
    display: flex;
    justify-content: center;
    opacity: 50%;
    .video{
      height: 100%;
      position: absolute;
      top: 0;
    }
  }
}

.main_screen{
  background-color: black;
  height: 100vh;
  z-index: 2;
  position: relative;
header{
  .container{
    position: relative;
    padding-top: 18px;
    z-index: 2 !important;
    .bg-light{
      background-color: transparent !important;
    }
  }
  .navbar-toggler-icon{
    color: white !important;}
  .navbar-nav{
    z-index: 2 !important;
    .nav-item{
      margin-right: 70px;
      &:before{
        content:"";
        display: block;
        height: 2px;
      }
      &:hover{
        &:before{
          content:"";
          display: block;
          height: 2px;
          background-color: white;
          position: relative;
          top: 22px;
          }}
      a {
        color: white !important;
  }}
}}

.first_page{
  position: relative;
  z-index: 2 !important;
  .partner_cont{
    .partners{
      color: white;
      .partner{
        text-align: center;
        margin-bottom: 35px;
        h3{
          color: white;
          display: block;
          margin-bottom: 30px;
          font-size: 16px;
          font-family: 'Oswald', sans-serif;
        }
      }
    }}
  .container{
    padding-top: 90px;
    .row{
      .item{
        color: white;
        h2{
          display: block;
          font-size: 70px;
          margin-bottom: 20px;
        }
        span{
          display: block;
          font-size: 35px;
          line-height: 41px;
          margin-bottom: 54px;
        }
        a{
          font-size: 18px;
          border: white 3px solid;
          display: block;
          padding: 15px;
          margin: auto;
          text-decoration: none;
          text-transform: uppercase;
          color: white;
        }
      }
    }

}}}


.remarketing{
  position: relative;
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  .second_page{
    position: relative;
    z-index: 2 !important;
    .container{
      padding-top: 97px;
      .row{
        margin-bottom: 80px;
        h2{
          display: block;
          font-size: 30px;
          text-transform: uppercase;
        }
        span{
          display: block;
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 32px;
        }
      }
    }}
}
.you_need_it{
  position: relative;
  background-color: black;
  color: white;
  height: 100vh;
  overflow: hidden;
  .third_page{
    position: relative;
    z-index: 2 !important;
    .container{
      padding-top: 97px;
      .row{
        margin-bottom: 80px;
        h2{
          display: block;
          font-size: 30px;
          text-transform: uppercase;
        }
        ul{
          display: block;
          font-size: 18px;
          line-height: 27px;
          margin-bottom: 32px;
          li{
            list-style-type: none !important;
          }
      }}
    }}
}
.headliners, .sm, .digital{
  padding-top: 90px;
  height: 100vh;
  @media screen and (max-width: 720px){
    height: auto;}
  h2{
    text-transform: uppercase;
    display: block;
    margin-bottom: 87px;
  }
  button{
    background-color: transparent;
    border: none;
    &:hover{
      background-color: transparent;
    }
    img{
      margin-bottom: 60px;
      width: 100%;
    }
    h3{
      font-size: 18px;
      color: black;
      margin-bottom: 30px;
      @media screen and (max-width: 575px){
        font-size: 32px;}
    }
  }
}
.modal{
  border: black 2px solid;
.modal-header{
  border: none;
}
.modal-body{
  padding: 30px 100px 100px;
  margin: 0 !important;
  @media screen and (max-width: 900px){
    padding: 15px 15px;
  }
  img{
    width: 100%;
  }
}
button{
  span{
    font-size: 40px;
    color: #524f78;
  }
  img{
    width: 100%;
  }
}
}
.program{
  .first_line, .third_line, .fourth_line, .sixth_line{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 4px;
    span{
      color: #fefefe;
      font-size: 48px;
      padding: 0 !important;
    }
    .registration{
      color: #fefefe;
      font-size: 15px;
    }
  }
  .second_line, .fiveth_line{
    background-color: #c4c4c4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 4px;
    span{
      color: #fefefe;
      font-size: 48px;
      padding: 0 !important;
    }
    .registration{
      color: #fefefe;
      font-size: 15px;
    }
  }
  .plane{
    padding-top: 32px;
    .row{
      margin-bottom: 32px;
      .time{
        font-size: 40px;
      }
      .author{
        font-size: 24px;
        display: block;
        margin-bottom: 19px;
      }
      .about_author, .thesis{
      font-size: 18px;
      }
    }
    img{
      width: 100%;
    }
  }
}
.graphic{
  padding-top: 36px;
  .container{
    .row{
      margin-bottom: 50px;
    }
  }
  .time{
    position: relative;
    bottom: 30%;
    span{
      display: none;
      @media screen and (max-width: 900px){
          font-size: 40px;
          font-weight: bold;
          display: inherit;
          z-index: 2 !important;
        }
    }
  }
  .speakers{
    position: relative;
    span{
      font-size: 24px;
      display: block;
      margin-bottom: 22px;
    }
    p{
      font-size: 18px;
      margin-bottom: 8px;
    }
    .group{
      span{
        font-size: 24px;
        display: block;
        margin-bottom: 12px;
        line-height: 29px;
        text-transform: uppercase;
      }
      p{
        font-size: 16px;
        &:last-of-type{
        margin-bottom: 30px;
      }}
    }
    .speaker_photo{
      position: relative;
      &:after{
        content: "";
        display: block;
        background-color: black;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: 50%;
        left: -70%;
        z-index: -1 !important;}
      img{
        z-index: 2 !important;
        width: 100%;
        display: block;
        margin-bottom: 28px;
      }
    }
    @media screen and (max-width: 900px){
        padding-top: 40px;
        border-left: black 2px solid;
      .speakers_row{
        .speaker{
          padding-left: 60px;
          &:after{
            content: "";
            display: block;
            background-color: #cbd3da;
            width: 80%;
            height: 2px;
            margin-bottom: 30px;
          }
          .speaker_photo{
            &:before{
              content: "";
              display: none;
            }
            &:after{
              content: "";
              display: block;
              background-color: black;
              height: 2px;
              width: 100%;
              position: absolute;
              bottom: 50%;
              left: -60px;
              z-index: -1 !important;
            }
          }}}
          }}}
.graphic{
        .speaker{
          .group{
            display: none;}}}
.graphic{
  .row{
    &:first-of-type{
      .speaker{
        &:first-of-type{
        .speaker_photo{
          &:before{
                content: "14:45";
                font-size: 24px;
                font-weight: bold;
                display: block;
                position: absolute;
                text-align: center;
                top: 40%;
                left: -120%;
                z-index: 2 !important;
              }}
          }
        }
        }
  &:nth-child(2){
    .speaker{
      &:first-of-type{
        .speaker_photo{
          &:before{
            content: "15:30";
            font-size: 24px;
            font-weight: bold;
            display: block;
            position: absolute;
            text-align: center;
            top: 40%;
            left: -120%;
            z-index: 2 !important;
          }}
      }
    }
  }}}
.price{
  position: relative;
  background-color: black;
  color: white;
  height: 100vh;
  .container_bottom{
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 2 !important;
    .row-sum{

      .div{
        padding: 5px !important;
      }
      p{
        font-size: 14px;
      }
      span{
        font-size: 25px;
        font-weight: bold;
      }
    }
  }
  .second_page{
    position: relative;
    z-index: 2 !important;
    .container{
      padding-top: 97px;
      .row{
        margin-bottom: 80px;
        h2{
          display: block;
          font-size: 30px;
          text-transform: uppercase;
        }
      }
    }
  }
}